{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/custom/home.css">
{% endblock %}

{% block data %}

<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome to Flask.</h1>
  <p class="lead">Flask is a micro web framework written in Python.It is classified as a microframework because it does not require particular tools or libraries It is based on Werkzeug, Jinja 2 and good intentions.</p>
  <p class="lead">
    <a href="{{ url_for('about') }}" class="btn btn-lg btn-secondary">Learn more</a>
  </p>
</main>

{% endblock %}
